<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repositoryDetails"
             type="ConfigToolWPF.RepositoryConfigSection, ConfigToolWPF" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <repositoryDetails>
    <add name="IdentifiData" displayName="Identifi Data" id="50869152"/>
    <add name="user-admin-data" displayName="User Admin Data" id="135317263"/>
    <add name="um2.0-data" displayName="UM 2.0 Data" id="143331528"/>
    <add name="Test" displayName="Test" id="159133156"/>
  </repositoryDetails>
  <appSettings>
    <add key="AutoSelect" value="True" />
    <add key="GithubUserToken" value="" />
  </appSettings>
</configuration>