<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ExcelFilePath" value="D:\Test\DummyData.xlsx" />
    <add key="NewSQLFilePath" value="D:\Test\Merge_ClientApp.sql" />

    <add key="GithubUserToken" value="152662569cabae4c791f75256a6528c46a7d657e" />
    <add key="RepositoryName" value="Test" />
    <add key="HeadBranchName" value="master" />
    <add key="NewBranchName" value="test_8_6" />
    <add key="GithubFilePath" value="UserAdmin/UserMgmt/Merge_ClientApp.sql" />
  </appSettings>
</configuration>