<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ExcelFilePath" value="D:\Mayuresh01\VividaHealthClientRequirement - 58335.xlsx" />
    <add key="NewSQLFilePath" value="D:\Mayuresh01\Merge_ClientApp.sql" />

    <add key="GithubUserToken" value="677ce1644a694de2812bbe5c684251e8eff4f745" />
    <add key="RepositoryName" value="" />
    <add key="HeadBranchName" value="develop" />
    <add key="NewBranchName" value="develop" />
    <add key="GithubFilePath" value="UserAdmin/UserMgmt/Merge_ClientApp.sql" />
  </appSettings>
</configuration>